<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.calendarioescolar">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"

        android:name=".Aplicacion"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Presentacion.AgendaObjectActivity"
            android:label="AgendaObject View"
            android:parentActivityName=".Presentacion.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".Presentacion.EditarObjectAgendaActivity"
            android:label="Editar actividad"
            android:parentActivityName=".Presentacion.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".Presentacion.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".Presentacion.HorarioActivity"
            android:label="Horario"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".Presentacion.EditarHorarioActivity"
            android:label="Editar horario"
            android:parentActivityName=".Presentacion.HorarioActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>